<p>A competition is an actual competitive event. All competitions are
children of a cumulative competition. Results can be uploaded using a
variety of CSV file formats. It should be noted that the competition module
tries to link entrants to a Drupal user
(see <a href="introduction">An Introduction</a>).</p>