<p>Follow these steps to do the initial set up of your competition system:</p>
<ol>
  <li>Enable all of the modules in the competition section of the modules
    page.</li>
  <li>In 'Create content' create a
    '<a href="competition_type">Competition type</a>'. The title is the name
    of the competition type. An example would be be 'Monthly'. You can
    create as many competition types as you like.</li>
  <li>In 'Create content' create a. '<a href="entry_type">Entry type</a>'. This
    is a description of what is being entered. For a camera club this might be
    'Print'. You can create as many entry types as you like.</li>
</ol>
<p>Now the competitions for a season can be created.</p>
<ol>
  <li>In 'Create content' create a '<a href="seasons">Season</a>'.</li>
  <li>In 'Create content' create a
    '<a href="cumulative_competition">Cumulative competition</a>'. For a camera
    club this might be 'Print photographer of the year'. it will comprise a
    number of <a href="competition">competitions</a> whose results are added to
    make a cumulative result. You will have to choose a season, competition
    type, entry type and scoring scheme (select cumulative).</li>
  <li>Finally in 'Create content' create your first competition. You have to
    choose the <a href="cumulative_competition">cumulative competition</a>
    to which this competition belongs. You can either add scores one at
    a time by selecting the 'Add Score' tab or upload a set of results by
    selecting the 'Upload' tab. If you are a camera club and use
    <a href="http://www.filmfreeprojection.co.uk/">Film Free Projection (FFP)</a>
    you can export a CSV file from FFP in a format which can be uploaded into
    the competition. There is also a simpler format which is designed for
    manual preparation using a spreadsheet program like OpenOffige.org or
    Excel. As each competition takes place add another to the series.</li>
</ol>
<p>Visiting the cumulative competition displays the aggregated results. You can
click on the column title to see the individual competition results and the
author to see the authors results for the series. Hover over a score to see
the title of the entry.</p>
<p>If you have more than one cumulative competition and you would like to
aggregate the results of those into a super competition then create a Super
competition, then go to the cumulative competitions and select the super
competition in each of them. The cumulative competition page will show the
results.</p>
<p>If you have enabled the competition index then go to
<a href="/results">/results</a> to view the listing of competitions.</p>