<p>This suite of modules was written to calculate and display the results
of camera club competitions. Although it is written to support a particular
set of rules and conventions it is fairly flexible.</p>
<p>There are a number of concepts which you have to understand in order to make
effective use of this suite of modules.</p>
<ul>
    <li>A <a href="seasons">season</a> is a club season. It has a name, start date and end date. You
    have to create at least one of these.</li>
    <li>A <a href="competition_type">competition type</a> is a class of competition. You have to create at
    least one of these.</li>
    <li>An <a href="entry_type">entry type</a> is what is entered into the competition. You have to
    create at least one of these.</li>
    <li>The heart of the system is the <a href="cumulative_competition">cumulative competition</a>. Each competition
    series or even a single competition needs one of these.</li>
    <li>A <a href="competition">competition</a> is an actual competitive event.</li>
    <li>A <a href="super_competition">super competition</a> aggregates a number of cumulative competitions. This
    content type is optional.</li>
    <li>The <a href="compindex">compindex</a> module shows a list of super and cumulative competitions
    for a given year.</li>
</ul>
<p>Competitions should be scored out of twenty for the highlighting of 20s, 19s
and 18s to work.</p>
<p>For this module to work well every entrant must be a Drupal user. Also the
profile module must be enabled with the following profile fields defined:</p>
<ul>
  <li>A code number for the user. The field name must be profile_codenumber,
  the title must be 'Code Number'. The uploaded result data will contain this
  number.</li>
  <li>A first name. The profile field should be selected on the competition
    admin page.</li>
  <li>A last name. The profile field should be selected on the competition
    admin page.</li>
</ul>
<p>This module constructs the user's name from the profile_firstname and
profile_surname fields. If it is unable to find a user in the Drupal user
data it uses the name given in the upload.</p>
