<p>Most clubs and societies revolve around seasons and in most cases those
seasons last a year. Cumulative and super competition are linked to a season and
competitions are linked to cumulative competitions and so are indirectly
associated with a season.</p>
<p>An example season might have the title '2010-2011' and a start date at the
beginning of June and end date a year later at the end of May.</p>
<p>This is a generally useful content type. Other uses might be to have a
newsletter content type which refers to the season in which it is published.</p>