<p>This module is integrated with the
   <a href="http://drupal.org/project/views">views module</a>. Below is an
   export of a view which shows results of a given type after a date with
   scores greater than a given value grouped by author.</p>
<pre>$view = new view;
$view->name = 'results_query_scores';
$view->description = 'Query Scores';
$view->tag = 'Results';
$view->view_php = '';
$view->base_table = 'score';
$view->is_cacheable = FALSE;
$view->api_version = 2;
$view->disabled = FALSE; /* Edit this to true to make a default view disabled initially */
$handler = $view->new_display('default', 'Defaults', 'default');
$handler->override_option('relationships', array(
  'nid' => array(
    'label' => 'Competition',
    'required' => 0,
    'id' => 'nid',
    'table' => 'score',
    'field' => 'nid',
    'relationship' => 'none',
  ),
  'cumulative_competition' => array(
    'label' => 'Cumulative Competition',
    'required' => 0,
    'id' => 'cumulative_competition',
    'table' => 'competition',
    'field' => 'cumulative_competition',
    'relationship' => 'nid',
  ),
  'entry_type' => array(
    'label' => 'Entry Type',
    'required' => 0,
    'id' => 'entry_type',
    'table' => 'cumulative_competition',
    'field' => 'entry_type',
    'relationship' => 'cumulative_competition',
  ),
));
$handler->override_option('fields', array(
  'name' => array(
    'label' => 'Author',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 0,
      'ellipsis' => 0,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 0,
    'id' => 'name',
    'table' => 'score',
    'field' => 'name',
    'relationship' => 'none',
  ),
  'title' => array(
    'label' => 'Title',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => 'Untitled',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 0,
    'id' => 'title',
    'table' => 'score',
    'field' => 'title',
    'relationship' => 'none',
  ),
  'title_3' => array(
    'label' => 'Entry Type',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 0,
    'exclude' => 0,
    'id' => 'title_3',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'entry_type',
  ),
  'title_2' => array(
    'label' => 'Cumulative Competition',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 1,
    'exclude' => 0,
    'id' => 'title_2',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'cumulative_competition',
    'override' => array(
      'button' => 'Override',
    ),
  ),
  'title_1' => array(
    'label' => 'Competition',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 1,
    'exclude' => 0,
    'id' => 'title_1',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'nid',
  ),
  'judge' => array(
    'label' => 'Judge',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 0,
    'id' => 'judge',
    'table' => 'competition',
    'field' => 'judge',
    'relationship' => 'nid',
  ),
  'score' => array(
    'label' => 'Score',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 0,
      'ellipsis' => 0,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 1,
    'exclude' => 0,
    'id' => 'score',
    'table' => 'score',
    'field' => 'score',
    'relationship' => 'none',
  ),
));
$handler->override_option('sorts', array(
  'score' => array(
    'order' => 'DESC',
    'id' => 'score',
    'table' => 'score',
    'field' => 'score',
    'relationship' => 'none',
  ),
  'name' => array(
    'order' => 'ASC',
    'id' => 'name',
    'table' => 'score',
    'field' => 'name',
    'relationship' => 'none',
  ),
));
$handler->override_option('filters', array(
  'title' => array(
    'operator' => '=',
    'value' => 'Print',
    'group' => '0',
    'exposed' => TRUE,
    'expose' => array(
      'use_operator' => 0,
      'operator' => 'title_op',
      'identifier' => 'entry_type',
      'label' => 'Type (Print, Projected Image):',
      'optional' => 1,
      'remember' => 1,
    ),
    'case' => 0,
    'id' => 'title',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'entry_type',
  ),
  'competition_date' => array(
    'operator' => '>=',
    'value' => array(
      'type' => 'date',
      'value' => '',
      'min' => '',
      'max' => '',
    ),
    'group' => '0',
    'exposed' => TRUE,
    'expose' => array(
      'use_operator' => 0,
      'operator' => 'competition_date_op',
      'identifier' => 'competition_date',
      'label' => 'Competitions after (YYYY-MM-DD):',
      'optional' => 1,
      'remember' => 1,
    ),
    'id' => 'competition_date',
    'table' => 'competition',
    'field' => 'competition_date',
    'relationship' => 'nid',
  ),
  'score' => array(
    'operator' => '>=',
    'value' => array(
      'value' => '18',
      'min' => '',
      'max' => '',
    ),
    'group' => '0',
    'exposed' => TRUE,
    'expose' => array(
      'use_operator' => 0,
      'operator' => 'score_op',
      'identifier' => 'score',
      'label' => 'Scores from:',
      'optional' => 1,
      'remember' => 1,
    ),
    'id' => 'score',
    'table' => 'score',
    'field' => 'score',
    'relationship' => 'none',
  ),
));
$handler->override_option('access', array(
  'type' => 'none',
));
$handler->override_option('cache', array(
  'type' => 'none',
));
$handler = $view->new_display('page', 'Results Query', 'page_1');
$handler->override_option('fields', array(
  'name' => array(
    'label' => 'Author',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 0,
      'ellipsis' => 0,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 1,
    'id' => 'name',
    'table' => 'score',
    'field' => 'name',
    'relationship' => 'none',
    'override' => array(
      'button' => 'Use default',
    ),
  ),
  'title' => array(
    'label' => 'Title',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => 'Untitled',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 0,
    'id' => 'title',
    'table' => 'score',
    'field' => 'title',
    'relationship' => 'none',
  ),
  'title_3' => array(
    'label' => 'Entry Type',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 0,
    'exclude' => 0,
    'id' => 'title_3',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'entry_type',
  ),
  'title_2' => array(
    'label' => 'Cumulative Competition',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 1,
    'exclude' => 1,
    'id' => 'title_2',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'cumulative_competition',
    'override' => array(
      'button' => 'Override',
    ),
  ),
  'title_1' => array(
    'label' => 'Competition',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 1,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'link_to_node' => 1,
    'exclude' => 0,
    'id' => 'title_1',
    'table' => 'node',
    'field' => 'title',
    'relationship' => 'nid',
  ),
  'judge' => array(
    'label' => 'Judge',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 1,
      'ellipsis' => 1,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => '',
    'hide_empty' => 0,
    'empty_zero' => 0,
    'exclude' => 0,
    'id' => 'judge',
    'table' => 'competition',
    'field' => 'judge',
    'relationship' => 'nid',
  ),
  'score' => array(
    'label' => 'Score',
    'alter' => array(
      'alter_text' => 0,
      'text' => '',
      'make_link' => 0,
      'path' => '',
      'link_class' => '',
      'alt' => '',
      'prefix' => '',
      'suffix' => '',
      'target' => '',
      'help' => '',
      'trim' => 0,
      'max_length' => '',
      'word_boundary' => 0,
      'ellipsis' => 0,
      'html' => 0,
      'strip_tags' => 0,
    ),
    'empty' => '-',
    'hide_empty' => 0,
    'empty_zero' => 1,
    'exclude' => 0,
    'id' => 'score',
    'table' => 'score',
    'field' => 'score',
    'relationship' => 'none',
  ),
));
$handler->override_option('access', array(
  'type' => 'role',
  'role' => array(
    '2' => 2,
    '4' => 4,
    '3' => 3,
  ),
));
$handler->override_option('title', 'Query Competition Results');
$handler->override_option('header', 'Leaving the query fields blank will return all results ever recorded, don\'t do that, the result isn\'t useful. The intention is that this page should be useful to the competition secretaries when they are looking for potential entries for external competitions. To view all of the PIs which have scored 19 or more since the start of the 2009 season enter "Projected Image" into the type, "2009-09-01" into the date and "19" into scores from and click on apply.');
$handler->override_option('header_format', '1');
$handler->override_option('header_empty', 0);
$handler->override_option('empty', 'There are no results which match this query.');
$handler->override_option('empty_format', '1');
$handler->override_option('items_per_page', 500);
$handler->override_option('use_pager', '1');
$handler->override_option('style_plugin', 'table');
$handler->override_option('style_options', array(
  'grouping' => 'name',
  'override' => 1,
  'sticky' => 0,
  'order' => 'desc',
  'columns' => array(
    'name' => 'name',
    'title' => 'title',
    'title_3' => 'title_3',
    'title_2' => 'title_2',
    'title_1' => 'title_1',
    'judge' => 'judge',
    'score' => 'score',
  ),
  'info' => array(
    'name' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'title' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'title_3' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'title_2' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'title_1' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'judge' => array(
      'sortable' => 0,
      'separator' => '',
    ),
    'score' => array(
      'sortable' => 0,
      'separator' => '',
    ),
  ),
  'default' => '-1',
));
$handler->override_option('path', 'queryresults');
$handler->override_option('menu', array(
  'type' => 'normal',
  'title' => 'Query results',
  'description' => 'Query competition results to find potential external competition entries.',
  'weight' => '0',
  'name' => 'navigation',
));
$handler->override_option('tab_options', array(
  'type' => 'none',
  'title' => '',
  'description' => '',
  'weight' => 0,
  'name' => 'navigation',
));
</pre>